[submodule "libraries/raylib"]
	path = libraries/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libraries/Physac"]
	path = libraries/Physac
	url = https://github.com/victorfisac/Physac.git
